{% load i18n %}

<div class="pagination">
    <span class="step-links">
        {% if pages.has_previous %}
            <a href="?page={{ pages.previous_page_number }}{% if getdict %}&{{getdict}}{% endif %}">{% trans 'previous' %}</a>
        {% endif %}

        <span class="current">
            {% trans 'Page' %} {{ pages.number }}/{{ pages.paginator.num_pages }}.
        </span>

        {% if pages.has_next %}
            <a href="?page={{ pages.next_page_number }}{% if getdict %}&{{getdict}}{% endif %}">{% trans 'next' %}</a>
        {% endif %}
    </span>
</div>
